/* custom props */

:root {
  /* color palette */
  --primary-color: white;
  --secondary-color: #aaa;
  --sidebar-backcol: #000000;
  --header-content-backcol: #0c0f14;
  --main-content-backcol: #141922;
  --playbar-backcol: #282828;
  --gray-button-user: #a3a3a3;
  /* sizing */
  --playbar-height: 70px;
  --sidebar-width: 50px;
  --header-content-heigth: 70px;
  --nav-item-width: 25px;
  /* padding/margin */
  --logo-margin-bottom: 18px;
  --sidebar-padding-left: 1rem;
  --sidebar-text-padding: 0.2rem;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  display: inline;
}

button {
  font-family: inherit;
}

/* utils */

body {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.nav-hidden-text {
  padding-left: var(--sidebar-text-padding);
}

/* main */
#wrapper {
  width: 100%;
  height: calc(100vh - var(--playbar-height));
  max-width: 100%;
  display: flex;
}

/* SIDEBAR */

#sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-backcol);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  overflow-y: auto;
}

/* sidebar logo */

.sidebar-logo {
  margin-bottom: var(--logo-margin-bottom);
}

.sidebar-logo > img {
  width: 30px;
}

/* sidebar links list */

.sidebar-links-list > ul > li {
  margin-bottom: calc(var(--logo-margin-bottom) / 2);
}

.sidebar-links-list > ul > li:hover {
  color: var(--primary-color);
}

.sidebar-item-width {
  width: var(--nav-item-width);
}

/* sidebar create playlist */

.playlist-button {
  background-color: var(--gray-button-user);
  width: 40px;
  aspect-ratio: 1;
  border: none;
  font-size: 1.4rem;
  font-weight: 900;
}

.create-playlist-container > .nav-hidden-text {
  padding-left: 0.5rem;
}

.create-playlist-container {
  margin-top: 0.5rem;
}

.create-playlist-container:hover {
  color: var(--primary-color);
}

.create-playlist-container:hover > .playlist-button {
  background-color: var(--primary-color);
}

.sidebar-create-playlist {
  margin-top: var(--logo-margin-bottom);
}

.sidebar-create-playlist > .playlist-title {
  color: var(--primary-color);
  font-weight: 600;
}

/* sidebar playlist */
.sidebar-playlist {
  width: 100%;
  overflow-y: auto;
  min-height: 100px;
}

.sidebar-playlist li {
  line-height: 30px;
  font-size: 0.8rem;
}
.sidebar-playlist li:hover {
  color: var(--primary-color);
}

.sidebar-playlist > ul {
  margin-top: 8px;
}
/* sidebar bottom */

.sidebar-bottom {
  margin-top: auto;
}

.install-button {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: none;
}

.install-button > img {
  width: 17px;
}

.install-button > span {
  font-size: 0.8rem;
}

.install-button > span:hover {
  color: var(--primary-color);
}

.profile > .sidebar-item-width {
  width: var(--nav-item-width);
  aspect-ratio: 1;
  background-color: var(--gray-button-user);
  border-radius: 50%;
  overflow: hidden;
}

.profile > .nav-hidden-text {
  color: var(--primary-color);
  font-weight: 600;
}

/* main content */

#container-content {
  width: calc(100% - var(--sidebar-width));
  height: 100%;
}

#header-content {
  height: var(--header-content-heigth);
  width: 100%;
  background-color: var(--header-content-backcol);
}

#main-content {
  height: calc(100% - var(--header-content-heigth));
  background-color: var(--main-content-backcol);
}

/* FOOTER */

#playbar {
  height: var(--playbar-height);
  background-color: var(--playbar-backcol);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* music preview */

.playbar-music-preview {
  width: 30%;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  gap: 10px;
}

.image-container {
  width: 30px;
  aspect-ratio: 1;
}

.image-container > img {
  width: 100%;
  object-fit: cover;
}

.music-name > span:nth-child(1) {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.music-name > span:not(:nth-child(1)) {
  font-size: 0.7rem;
  color: var(--secondary-color);
}

.playbar-preview-icon {
  margin-left: 10px;
}

.fa-heart .fa-folder {
  color: var(--secondary-color);
  margin-bottom: 3px;
}

/* music command */

.playbar-music-command {
  width: 40%;

  /* debug */
  height: var(--playbar-height);
  background-color: red;
  border: 1px solid white;
}

/* volume settings */

.playbar-volume-settings {
  width: 30%;

  /* debug */
  height: var(--playbar-height);
  background-color: red;
  border: 1px solid white;
}

/************** MEDIA QUERIES *************/

/* SM */

@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 200px;
    --nav-item-width: 35px;
  }

  /* utils */

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline {
    display: inline;
  }

  .sidebar-item-flexed {
    display: flex;
    align-items: center;
  }
  /* SIDEBAR */

  #sidebar {
    align-items: flex-start;
    padding: 10px 0px;
  }

  /* sidebar logo */
  .sidebar-logo {
    margin-left: var(--sidebar-padding-left);
  }

  .sidebar-logo > img {
    width: 150px;
  }

  /* sidebar links list */

  .sidebar-links-list > ul > li {
    border-left: 2px solid transparent;
    padding-left: calc(var(--sidebar-padding-left) - 3px);
  }

  .sidebar-links-list > ul > .selected {
    border-left: 2px solid lime;
    padding-left: calc(var(--sidebar-padding-left) - 3px);
    color: var(--primary-color);
  }
  /* sidebar bottom */

  .sidebar-bottom,
  .sidebar-create-playlist,
  .sidebar-playlist {
    padding-left: var(--sidebar-padding-left);
  }

  .sidebar-bottom {
    width: 100%;
  }

  .install-button {
    border-bottom: 1px solid var(--secondary-color);
    margin-right: var(--sidebar-padding-left);
  }
}

/* MD */

@media screen and (min-width: 768px) {
  /* utils */
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-inline {
    display: inline;
  }
}

/* LG */

@media screen and (min-width: 992px) {
}
