/* custom props */

:root {
  /* color palette */
  --primary-color: white;
  --secondary-color: #aaa;
  --sidebar-backcol: #000000;
  --header-content-backcol: #0c0f14;
  --main-content-backcol: #141922;
  --playbar-backcol: #282828;
  --gray-button-user: #a3a3a3;
  /* sizing */
  --playbar-height: 70px;
  --sidebar-width: 50px;
  --header-content-heigth: 70px;
  --nav-item-width: 25px;
  /* padding/margin */
  --logo-margin-bottom: 18px;
  --sidebar-padding-left: 1rem;
  --sidebar-text-padding: 0.2rem;
  --card-title-margin: 2rem;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  display: inline;
}

button {
  font-family: inherit;
}

/* UTILS */

body {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.nav-hidden-text {
  padding-left: var(--sidebar-text-padding);
}

/****** REUSABLE BAR PROGRESS ********/

.playbar-bar > .total-bar {
  min-width: 60px;
  height: 4px;
  border-radius: 2px;
  background-color: grey;
}

.playbar-bar .progress-bar {
  background-color: var(--primary-color);
  width: 50%;
  border-radius: 2px;
  height: 4px;
  position: relative;
}

.playbar-bar:hover .circle-progress-bar {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.playbar-bar:hover .progress-bar {
  background-color: lime;
}

/* main */
#wrapper {
  width: 100%;
  height: calc(100vh - var(--playbar-height));
  max-width: 100%;
  display: flex;
}

/* SIDEBAR */

#sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-backcol);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  overflow-y: auto;
}

/* sidebar logo */

.sidebar-logo {
  margin-bottom: var(--logo-margin-bottom);
}

.sidebar-logo > img {
  width: 30px;
}

/* sidebar links list */

.sidebar-links-list > ul > li {
  margin-bottom: calc(var(--logo-margin-bottom) / 2);
}

.sidebar-links-list > ul > li:hover {
  color: var(--primary-color);
}

.sidebar-item-width {
  width: var(--nav-item-width);
}

/* sidebar create playlist */

.playlist-button {
  background-color: var(--gray-button-user);
  width: 40px;
  aspect-ratio: 1;
  border: none;
  font-size: 1.4rem;
  font-weight: 900;
}

.create-playlist-container > .nav-hidden-text {
  padding-left: 0.5rem;
}

.create-playlist-container {
  margin-top: 0.5rem;
}

.create-playlist-container:hover {
  color: var(--primary-color);
}

.create-playlist-container:hover > .playlist-button {
  background-color: var(--primary-color);
}

.sidebar-create-playlist {
  margin-top: var(--logo-margin-bottom);
}

.sidebar-create-playlist > .playlist-title {
  color: var(--primary-color);
  font-weight: 600;
}

/* sidebar playlist */
.sidebar-playlist {
  width: 100%;
  overflow-y: auto;
  min-height: 100px;
}

.sidebar-playlist li {
  line-height: 30px;
  font-size: 0.8rem;
}
.sidebar-playlist li:hover {
  color: var(--primary-color);
}

.sidebar-playlist > ul {
  margin-top: 8px;
}
/* sidebar bottom */

.sidebar-bottom {
  margin-top: auto;
}

.install-button {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: none;
}

.install-button > img {
  width: 17px;
}

.install-button > span {
  font-size: 0.8rem;
}

.install-button > span:hover {
  color: var(--primary-color);
}

.profile > .sidebar-item-width {
  width: var(--nav-item-width);
  aspect-ratio: 1;
  background-color: var(--gray-button-user);
  border-radius: 50%;
  overflow: hidden;
}

.profile > .nav-hidden-text {
  color: var(--primary-color);
  font-weight: 600;
}

/* main content */

#container-content {
  width: calc(100% - var(--sidebar-width));
  height: 100%;
}

/* HEADER */

#header-content {
  height: var(--header-content-heigth);
  width: 100%;
  background-color: var(--header-content-backcol);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

#upgrade-button {
  border: 1px solid var(--primary-color);
  padding: 10px 30px;
  border-radius: 20px;
  background-color: transparent;
  color: var(--primary-color);
}

#upgrade-button:hover {
  transform: scale(1.1);
}

/* MAIN CONTENT */

#main-content {
  height: calc(100% - var(--header-content-heigth));
  background-color: var(--main-content-backcol);
  overflow-y: auto;
  padding: 0px 10px;
}

/* genres */

.musical-genres {
  padding-top: 20px;
  height: 100px;
  text-align: center;
  font-size: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.musical-genres > span {
  margin: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}

.musical-genres > span:hover {
  color: var(--primary-color);
}

.musical-genres > .genre-selected {
  border-bottom: 2px solid lime;
}

/* content */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.card-section-title {
  margin: var(--card-title-margin) 7px var(--card-title-margin);
}

.card-section-title > span > b {
  color: var(--primary-color);
  font-size: 1.7rem;
}

.card-section-title > p {
  font-size: 0.9rem;
  margin: 10px 0px;
  font-weight: 600;
}

.card {
  flex: 0 1 47%;
}

.inner-container-img {
  position: relative;
}

.hover-playbutton {
  border: 4px solid var(--primary-color);
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-playbutton > .fa-play {
  width: 70px;
  aspect-ratio: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  font-size: 2.7rem;
  color: var(--primary-color);
}

.card > div > img {
  width: 100%;
  object-fit: cover;
  opacity: 1;
}

#main-content .last-section img {
  border-radius: 50%;
}

.last-section {
  margin-bottom: 50px;
}

.card .inner-container-img:hover > img {
  opacity: 0.3;
}

.card .inner-container-img:hover .hover-playbutton {
  display: block;
}

/* card description */
.card-title {
  color: var(--primary-color);
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
}

.card-subtitle {
  font-size: 0.9rem;
  margin: 10px 0px 5px;
  font-weight: 600;
  text-align: center;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* FOOTER */

#playbar {
  height: var(--playbar-height);
  background-color: var(--playbar-backcol);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* music preview */

.playbar-music-preview {
  /* width: 30%; */
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: 10px;
}

.image-container {
  width: 30px;
  aspect-ratio: 1;
}

.image-container > img {
  width: 30px;
  object-fit: cover;
}

.music-name > span > b {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.music-name > span:last-child {
  font-size: 0.8rem;
}

.music-name > span:last-child:hover {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.playbar-preview-icon {
  margin-left: 10px;
}

.fa-heart,
.fa-folder {
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.fa-heart:hover,
.fa-folder:hover {
  color: var(--primary-color);
}

/* music command */

.playbar-music-command {
  flex-grow: 1;
  height: 100%;
  padding: 10px 5px 0px;
}

.playbar-music-command i {
  color: var(--primary-color);
}

.playbar-commands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(20px + 2vw);
  width: 100%;
  margin-bottom: 10px;
}

.playbar-commands > i:hover {
  transform: scale(1.1);
}

.fa-circle-play {
  font-size: 1.8rem;
}

.playbar-commands > .fa-circle-play:hover {
  transform: scale(1.4);
}

/* playbar bar */

.playbar-music-command > .playbar-bar {
  width: 100%;
  flex: 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: none;
}

.playbar-bar > .current-time,
.playbar-bar > .total-time {
  font-size: 0.7rem;
  margin: 0px 10px;
  color: var(--primary-color);
}

.playbar-music-command .total-bar {
  flex-grow: 1;
}

/* volume settings */

#playbar-volume-settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  gap: 10px;
}

#playbar-volume-settings i {
  color: var(--primary-color);
}

#playbar-volume-settings > .playbar-bar > .total-bar {
  min-width: 50px;
}

/************** MEDIA QUERIES *************/

/* SM */

@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 200px;
    --nav-item-width: 35px;
  }

  /* utils */

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline {
    display: inline;
  }

  .sidebar-item-flexed {
    display: flex;
    align-items: center;
  }
  /* SIDEBAR */

  #sidebar {
    align-items: flex-start;
    padding: 10px 0px;
  }

  /* sidebar logo */
  .sidebar-logo {
    margin-left: var(--sidebar-padding-left);
  }

  .sidebar-logo > img {
    width: 150px;
  }

  /* sidebar links list */

  .sidebar-links-list > ul > li {
    border-left: 2px solid transparent;
    padding-left: calc(var(--sidebar-padding-left) - 3px);
  }

  .sidebar-links-list > ul > .selected {
    border-left: 2px solid lime;
    padding-left: calc(var(--sidebar-padding-left) - 3px);
    color: var(--primary-color);
  }
  /* sidebar bottom */

  .sidebar-bottom,
  .sidebar-create-playlist,
  .sidebar-playlist {
    padding-left: var(--sidebar-padding-left);
  }

  .sidebar-bottom {
    width: 100%;
  }

  .install-button {
    border-bottom: 1px solid var(--secondary-color);
    margin-right: var(--sidebar-padding-left);
  }
}

/* MD */

@media screen and (min-width: 768px) {
  /* utils */
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-inline {
    display: inline;
  }

  /* MAIN CONTENT */

  /* card */
  .card {
    flex-basis: 23%;
  }

  .card-subtitle {
    font-size: 0.8rem;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-container {
    justify-content: flex-start;
  }
  /* FOOTER */

  /* playbar */
  .playbar-music-command {
    max-width: 500px;
  }

  .music-name > div {
    display: flex;
    gap: 2px;
    font-size: 0.8rem;
  }

  .playbar-preview-icon {
    display: flex;
    gap: 10px;
  }

  /* playbar volume settings */
  #playbar-volume-settings > .playbar-bar > .total-bar {
    min-width: 80px;
  }
}

/* LG */

@media screen and (min-width: 992px) {
  /* MAIN CONTENT */
  /* card */
  .card {
    flex-basis: 15%;
  }

  /* PLAYBAR  */

  /* playbar volume settings */
  #playbar-volume-settings > .playbar-bar > .total-bar {
    min-width: 120px;
  }
}
